SetEnvIf authorization .+ HTTP_AUTHORIZATION=$0

<IfModule mod_rewrite.c>
	RewriteEngine on
	RewriteBase /

    RewriteCond %{HTTP:Authorization} ^(.*)
    RewriteRule .* - [e=HTTP_AUTHORIZATION:%1]

    RewriteRule ^tweets/([0-9]+)/*$ tweets/item.php?id=$1
    RewriteRule ^login/*$ auth/login.php
    RewriteRule ^token/*$ auth/token.php
</IfModule>